<template name="search">
  <div class="container">
    <!-- Search form -->
    <a href="/">
      <button class="btn btn-primary mt-3">
        <i class="far fa-arrow-alt-circle-left"></i> Back
      </button></a
    >
    <div class="md-form mt-3">
      <input
        class="form-control"
        id="searchInput"
        type="text"
        placeholder="Email Of User You Want To Be Connected With"
        aria-label="Search"
      />
    </div>

    <div id="searchResults"></div>
  </div>
</template>
